/* .classification *,
.classification {
  border: 1px solid red;
} */

.classification h1 {
  text-shadow: 1px 2px 2px rgb(255, 255, 255);
}

.classification .title {
  background-size: 10em;
  background-repeat: no-repeat;
  background-position: top;

  width: 300px;
  height: 9.6em;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 720px) {
  .classification .table {
    padding: 0;
  }
}

@media (min-width: 720px) and (max-width: 1000px) {
}
