/* .classification *,
.classification {
  border: 1px solid red;
} */

.classification h1 {
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.903);
  border-radius: 5px;
  padding: 0 5em;
  backdrop-filter: blur(2px);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.086);
}

.classification .title {
  background-repeat: no-repeat;
  background: bottom 20%;
  background-size: cover;

  height: 12.6em;
  width: 100%;

  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;

  margin-bottom: 1.5em;
  padding-top: 4em;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.086);
}

/* RESPONSIVE */
@media (max-width: 720px) {
  .classification .table {
    padding: 0;
  }

  .classification h1 {
    padding: 0 1em;
  }
}

@media (min-width: 720px) and (max-width: 1000px) {
}
