/* * {
  border: 1px red solid;
} */

* {
  font-family: "Roboto";
}

.page-wrapper {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.title-hero > h1 {
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  background-color: rgba(237, 236, 236, 0.512);
  border-radius: 5px;
  padding: 0 0.5em;
  backdrop-filter: blur(2px);
  box-shadow: 0px 1px 10px 6px rgba(161, 161, 161, 0.227);

  font-size: 55px;
}

.title-hero {
  background-repeat: no-repeat;
  background-size: cover;

  height: 15.6em;
  width: 100%;

  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;

  margin: 0;
  margin-bottom: 1.5em;
  padding-top: 6em;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.086);
}

/* INPUT ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SCROLLBAR */
/* Track CHROME*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: solid 2px rgba(224, 224, 224, 0.5);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: #262424;
}

/* ESTILOS DE FONDO */
.page-inside-wb {
  padding-top: 0 !important;
  width: 100% !important;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.973),
    rgba(255, 255, 255, 0.977)
  );
}
.page-inside-sideband {
  width: 85% !important;
  background-color: white;
  border-left: 1px rgba(79, 79, 79, 0.4) solid;
  border-right: 1px rgba(79, 79, 79, 0.4) solid;
}

@media (max-width: 720px) {
  .title h1 {
    padding: 0 1em;
  }
  .page-inside-sideband {
    width: 100% !important;
  }
}
