/* .navbar * {
  border: 1px red solid;
} */

.navbar {
  background: rgba(252, 249, 248, 0) !important;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.375);
  border-bottom: 1px solid #8b8585ab;

  background-image: linear-gradient(to bottom, rgba(50, 68, 68, 0));
  transition: background-color 0.8s ease, height 0.8s ease;
  pointer-events: all;

  position: fixed;
  width: 100%;
  color: white;

  top: 0;
  z-index: 10;

  backdrop-filter: blur(2px);

  transition: background-color 150ms linear;
}

.navbar-opacity {
  background: rgb(252, 249, 248) !important;
  background-image: linear-gradient(to bottom, rgba(50, 68, 68, 0));
  transition: background-color 150ms linear;
}

.navbar-text-white {
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
}

.menu-scrolled {
  color: rgb(255, 255, 255);
  background-color: #212529;
  transition: background-color 0.8s ease, height 0.8s ease;
}

.enlaces {
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.enlaces:hover {
  color: rgb(220, 53, 69);
  transform: scale(1.1);
}
.enlaces:focus {
  color: rgb(220, 53, 69);
  transform: scale(1.1);
}

.transiciones {
  transition: transform 1s ease-in-out;
}
.transiciones:hover {
  transition: transform 1s ease-in-out;
  box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0000002c;
  transform: scale(0.9);
}

.transiciones:not(:hover) {
  transition: transform 0.6s ease-in-out; /* Transición para no estar en hover */
  outline: none;
  border: none;
}

/* JH EDICIÓN JH EDICIÓN JH EDICIÓN */

.navbar-collapse ul {
  margin: 0 0 0 auto !important;
}

.navbar-collapse ul * {
  font-size: large;
  font-weight: 400;
}

.navbar-collapse ul *:hover {
  transition: transform 0.1s ease-in-out;
  text-shadow: 0px 10px 14px #00000079;
}
.navbar-collapse {
  width: 5em !important;
}

.navbar-collapse .dropdown-menu {
  right: auto;
  left: 10%;
  transform: translateX(-50%) translateY(5%);
}

.navbar-collapse ul > li > a {
  color: white;
}

.login-dk {
  margin-left: 1.5em;
}

.fontAwesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}
.navbar .search {
  margin-left: 3em;
  width: 10em;
}
.search:focus {
  border-color: #0078505a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0078502c;
}

.navbar li > a {
  text-shadow: 1px 1px 1px white;
}

/* PROFILE */
.navbar li {
  list-style-type: none;
}

.navbar .nav-item > a,
.navbar .nav-item > a:focus,
.navbar .nav-item > a:hover {
  text-decoration: none;
  color: black;
  font-size: large;
}
.navbar .nav-item > a:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}

.navbar .nav-item .dropdown-toggle {
  border-radius: 10px;
  margin-left: 2em;
  margin-right: 0.3em;

  transition: transform 0.6s ease-in-out;
  transform: scale(1.02);
}

.navbar-collapse ul > * {
  text-align: center;
  color: white;
  padding: 0.3em;
}

.navbar .dropdown-menu {
  left: -3em !important;
}
.navbar .dropdown-menu li,
a {
  left: -3em !important;
}

/* RESPONSIVE */

.login-mb {
  margin-right: 0.5em;
}

@media (max-width: 720px) {
  .navbar > div > a {
    margin: 0;
    padding-right: 4px !important;
  }
  .navbar .search {
    width: 5em !important;
    font-size: larger;
    margin-left: 0;
  }

  .search-form {
    margin-left: auto;
  }
  .navbar-collapse ul {
    width: 100% !important;
    border: 1px solid rgba(110, 110, 110, 0.212);
    border-radius: 5px;
    margin-top: 0.75em !important;
  }
  .navbar-collapse ul > * {
    font-size: 20px;
    padding: 1em;
    text-align: center;
    margin-left: 20px !important;
  }

  .navbar .nav-item .dropdown-toggle {
    margin-left: 0;
    background-color: rgb(rgb(171, 80, 80));
  }
}

.navbar-light .navbar-toggler {
  background-color: rgba(237, 237, 237, 0.79);
  color: rgb(255, 252, 252);
  border-color: 15px solid rgb(187, 44, 44) !important;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 720px) and (max-width: 1000px) {
  .navbar > div > form {
    margin-left: auto;
  }
  /* MOBILE NAVBAR SMALLER */
  .navbar {
    top: -0.7em;
    padding-bottom: 0;
  }
  .page-wrapper {
    margin-top: 4.4em;
  }
}
